@model System.Collections.Generic.List<WebPortal.Models.EntityFrameworkModels.Event>

<div class="container" style="padding:15px">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Започва</th>
                <th scope="col">Приключва</th>
                <th scope="col">Име на събитието</th>
            </tr>
        </thead>
        @foreach (var particularEvent in Model)
        {
            <tr>
                <td>@particularEvent.BeginDate.ToString("hh:mm")</td>
                <td>@particularEvent.EndDate.ToString("hh:mm")</td>
                <td><a href="@particularEvent.Url">@particularEvent.Description</a></td>
                @if (!particularEvent.IsFavourite)
                {
                    <td>
                        <form action="SetAsFavourite" method="POST">
                            <input type="hidden" name="particularEventId" value="@particularEvent.Id">
                            <input type="submit" value="Pin">
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form action="RemoveEventFromFavourite" method="post">
                            <input type="hidden" name="particularEventId" value="@particularEvent.Id" />
                            <input type="submit" value="Unpin" />
                        </form>
                    </td>
                }
            </tr>
        }
    </table>
</div>