@model WebPortal.Models.EntityFrameworkModels.Resources

<div style='overflow-x: hidden;'>
    <div class="row"  style="background-color:azure; padding:15px;">
        @foreach (var e in Model.Events)
        {
            <div class="col-md-12">
                <h5>Събитие</h5>
                <p>@e.Description</p>
                <a href="@e.Url" class="btn btn-primary">Kъм събитието</a>
            </div>
        }
        @foreach (var n in Model.News)
        {
            <div class="col-md-12">
                <h5>Новина</h5>
                <h4>@n.Description</h4>
                <h5>@n.Published</h5>
            </div>
        }
    </div>


    <div class="row">
        <div class="col-md-4">
            <h2>Нови Събития</h2>
            <p>
                @Html.Action("GetLatestEvents", "Home", null)
            </p>
        </div>
        <div class="col-md-4"">
            <h2>Новини</h2>
            <p>
                @Html.Action("GetLatestNews", "Home", null)
            </p>
        </div>
        <div class="col-md-4">
            <h2>Последни Ресурси</h2>
            <p>
                @Html.Action("GetLastResources", "Home", null)
            </p>
        </div>
    </div>
</div>